

  .topRight{
  position:absolute;
  top: 50px;
  left: 1200px;
  
  }
  .bottomLeft{
  position:absolute;
  top: 300px;
  left:450px;
  }
  .bottomRight{
  position:absolute;
  top: 300px;
  left:1100px;
  }
  .Middle{
  top:250px;
  left:585px;
   position: absolute;
   font-size:35px;
  }
  
  .topLeft{
      top: 550px;
      left:450px;
    position:absolute;
  
    }
  
  
  